

# =============================== Network device ===============================

packetbeat.interfaces.device: any
#packetbeat.interfaces.bpf_filter: "port 27016 or port 27017 or port 27018 or port 27019 or port 27025"
packetbeat.interfaces.bpf_filter: "port 67 or port 68  or port 53 or port 80  or port 8080 or port 9200 or port 443"

# =================================== Flows ====================================

packetbeat.flows:
  #enabled: true
  timeout: 30s
  period: 10s

# ============================ Monitored processes =============================

packetbeat.procs.enabled: false
packetbeat.ignore_outgoing: true

# ================================= Processors =================================
processors:
  - include_fields:
      fields: ["host.name", "source", "destination", "network.bytes", "network.packets", "network.type", "network.transport", "client", "fields"]

output.elasticsearch:
  enabled: true
  hosts: ["localhost:9200"]


setup.ilm.enabled: false
setup.template.name: "packetbeat"
setup.template.pattern: "packetbeat-*"
setup.template.settings:
  index:
    number_of_shards: 1

# ================================== Logging ===================================

logging.to_files: true
logging.files:
  path: /var/log/packetbeat
  name: packetbeat
  permissions: 0600


